<% if(title == "Bio") { %>

    <!--Bio page content-->
    <div class="container">
        <div class="row justify-content-center align-items-center contentPlacement">

            <!--Section for page text with Jumbotron-->
            <div class="col-md-8 contentPlacement">
                <div class="jumbotron">
                    <h1 class="display-4 myYellow" id="bioHeading">About Me</h1>
                    <p class="lead text-success font-italic" id="missionStatement">My mission is to learn all I want with the resources available to me.</p>
                    <hr class="my-4">
                    <p id="bioParagraph">I am a first year student attending Centennial College, and I am currently enrolled in the Health Informatics
                        program. This program intersects information technology with health care systems. Currently, I am
                        in the second semester of this program. I have always had an interest in writing code since high
                        school. During that time, I took all the computer science courses that my school had to offer. There,
                        I learned coding through Turing and Java RTP. Even though the software and hardware my high school
                        used are outdated now, I still learned many programming concepts that could be easily applied to
                        other languages. I am excited to learn more about coding.</p>
                    <hr class="my-4">
                </div>
            </div>

            <!--Section for picture in a card-->
            <div class="col-md-4">
                <div class="card contentPlacement">
                    <img class="card-img pictureScaling" src="Assets/images/me.jpg" alt="my face">
                </div>
            </div>
        </div>
    </div>

<% } else if(title == "Projects"){ %>

    <!--The project page header-->
    <div class="jumbotron">
        <h1 class="display-4 text-center myYellow" id="projectHeading">My Previous Projects</h1>
        <p class="lead text-center" id="pageDescription">Here are three projects of mine. They are some of my favourites.</p>
    </div>

    <!--Section for the three projects-->
    <div class="container contentPlacement">
        <div class="jumbotron contentPlacement">

            <!--Projects 1: Unity Game-->
            <div class="row justify-content-center">
                <div class="col-md-6 contentPlacement">
                    <img src="./Assets/images/fortissimo_gameplay.png" class="pictureScaling" alt="screenshot of unity game">
                </div>
                <div class="col-md-6 contentPlacement">
                    <h3 id="title1" class="myYellow">Unity Game - Fortissimo</h3>
                    <p id="paragraph1">Fortissimo is a simple 2D top down shooter game that I made in high school. It was made for an assignment
                            from my physics class. This game was used to teach younger students about a specific job related
                            to the study of physics. In this case, the particular specification is an acoustic engineer and
                            how its study is used in making the LRAD (Long Range Acoustic Device), which is a tool for crowd/riot
                            control used by authorities. I used Unity to write all the codes. As there were no lessons about
                            programming or coding in my physics class, I had to find resources online in order to learn how
                            to write the code.</p>
                </div>
            </div>
            <hr>

            <!--Projects 2: Tic Tac Toe-->
            <div class="row justify-content-center">
                <div class="col-md-6 contentPlacement">
                    <h3 id="title2" class="myYellow">TicTacToe – Java RTP</h3>
                    <p id="paragraph2">I made a Tic Tac Toe game through Java RTP in grade 11. It is simple in design. There are two players,
                            and each takes turn to enter a number that determines the placement on the board. The game ends
                            when either a player wins, or neither win after all tiles are filled. Each tile is given a number
                            ID, and the players place their markers on a specific tile by entering the number associated
                            with that tile. If statements are used to determine the outcome of the game.</p>
                </div>
                <div class="col-md-6">
                    <img src="./Assets/images/tictactoe_gameplay.png" class="pictureScaling" alt="screenshot of tictactoe">
                </div>
            </div>
            <hr>

            <!--Projects 3: Battleship-->
            <div class="row justify-content-center">
                <div class="col-md-6 contentPlacement">
                    <img src="./Assets/images/battleship_attack.png" class="pictureScaling" alt="screenshot of battleship">
                </div>
                <div class="col-md-6 contentPlacement">
                    <h3 id="title3" class="myYellow">Battleship – Java RTP</h3>
                    <p id="paragraph3">In grade 12, I wrote a little program that allows two players to play battleship. The game starts
                            with having player 1 set down their ships on the tiles they want. Then, player 2 does the same.
                            After the ship placement, the players take turn at guessing were their opponent’s ships are by
                            clicking on the tiles. If they guess correctly, there will be an 'X' indicating that they have
                            hit a ship. There is a status bar on the bottom that informs the players on the current standing
                            of the game. The game ends when all ship pieces of one player are found.</p>
                </div>
            </div>
        </div>
    </div>

<% } else if(title == "Contact"){ %>

    <!-- Contact Form Section-->
    <div class="row justify-content-center contentPlacement">
        <div class="col-md-8 col-lg-6">
            <div class="jumbotron">

                <!--Heading and information-->
                <div>
                    <h1 class="text-center myYellow" id="contactTitle">Send Me A Message</h1>
                    <p id="contactInfo" class="text-center">Write a message with the form below, and I will get back to you as soon as possible!</p>
                </div>

                <div class="card-body">
                    <p id="contactInstructions" class="text-warning">* Required</p>

                    <!--Form-->
                    <form>
                        <div class="form-group">
                            <label for="FirstName">First Name: *</label>
                            <input type="text" class="form-control form-control-lg" id="FirstName" pattern="[A-Za-z]{2,}" name="FirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name: *</label>
                            <input type="text" class="form-control form-control-lg" id="LastName" pattern="[A-Za-z]{2,}" name="LastName" required>
                        </div>
                        <div class="form-group">
                            <label for="ContactNumber">Phone Number: *</label>
                            <input type="text" class="form-control form-control-lg" id="ContactNumber" pattern="^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$"
                                name="ContactNumber" placeholder="123-456-7890" required>
                        </div>
                        <div class="form-group">
                            <label for="EmailAddress">Email address: *</label>
                            <input type="email" class="form-control form-control-lg" id="EmailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                name="EmailAddress" placeholder="address@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="Subject">Subject: *</label>
                            <input type="text" class="form-control form-control-lg" id="Subject" name="Subject" required>
                        </div>
                        <div class="form-group">
                            <label for="Message">Message: *</label>
                            <textarea class="form-control form-control-lg" id="Message" name="Message" rows="4" required></textarea>
                        </div>
                        <hr>
                        <button id="submitButton" type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% } %>