<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
<script src="/Scripts/contact.js"></script>
<script src="/Scripts/app.js"></script>

<nav class="navbar bottom navbar-dark bg-dark">
  <h4>&copy; Copyright 2018. All Rights Reserved.</h4>
</nav>

</body>
</html>