<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/Content/bootstrap-solar.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="Assets/images/logo.png" width="50" height="50" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <% if(title == "Bio") { %>
          <li id="Bio" class="nav-item active">
        <% } else { %>
          <li id="Bio" class="nav-item">
        <% } %>
          <a class="nav-link" href="/"><i class="fa fa-user-circle fa-lg"></i> Bio</a>
        </li>

        <% if(title == "Projects") { %>
        <li id="Projects" class="nav-item active">
         <% } else { %>
        <li id="Projects" class="nav-item">
         <% } %>
            <a class="nav-link" href="/projects"><i class="fa fa-code fa-lg"></i> Projects</a>
        </li>

        <% if(title == "Contact") { %>
          <li id="Contact" class="nav-item active">
        <% } else { %>
         <li id="Contact" class="nav-item">
        <% } %>
            <a class="nav-link" href="/contact"><i class="fa fa-comments fa-lg"></i> Contact</a>
        </li>

          
      </div>
    </nav>
  </header>