<%- include ../partials/header.ejs %>

  <!--Bio page content-->
  <div class="container">
    <div class="row justify-content-center align-items-center contentPlacement">
      
      <!--Section for page text with Jumbotron-->
      <div class="col-md-8 contentPlacement">
        <div class="jumbotron">
          <h1 class="display-4 myYellow" id="bioHeading">About Me</h1>
          <p class="lead text-success font-italic" id="missionStatement">My mission is to learn all I want with the resources available to me.</p>
          <hr class="my-4">
          <p id="bioParagraph">I am a first year student attending Centennial College, and I am currently enrolled in the Health Informatics program. This program intersects information technology with health care systems. Currently, I am in the second semester of this program. I have always had an interest in writing code since high school. During that time, I took all the computer science courses that my school had to offer. There, I learned coding through Turing and Java RTP. Even though the software and hardware my high school used are outdated now, I still learned many programming concepts that could be easily applied to other languages. I am excited to learn more about coding.</p>
          <hr class="my-4">
        </div>
      </div>

      <!--Section for picture in a card-->
      <div class="col-md-4">
        <div class="card contentPlacement">
          <img class="card-img pictureScaling" src="Assets/images/me.jpg" alt="my face">
        </div>
      </div>
    </div>
  </div>
  

<%- include ../partials/footer.ejs %>
  